---
layout: single
classes: wide
---

<style>
.ctteflex {
  display: flex;
}
.ctteitem {
  flex-grow: 1;
}
.ctteitem + .ctteitem {
  margin-left: 5%;
}
</style>

{{content}}

<p class="page__taxonomy"><!-- Hack existing MM style -->
  <strong><i class="fas fa-fw fa-bars" aria-hidden="true"></i></strong>
  <span itemprop="keywords">
    {% for itm in site.data[page.datafile] %}
      <a href="#{{ itm.id }}" class="page__taxonomy-item" rel="tag">{{ itm.title }}</a><span class="sep"> </span>
    {% endfor %}
    <a href="https://www.arlingtonma.gov/town-governance/all-boards-and-committees/" class="page__taxonomy-item" rel="tag">All Town Committees</a><span class="sep"> </span>
  </span>
</p>

<hr/>
{% for itm in site.data[page.datafile] %}
<div class="committee" id="{{ itm.id }}">
  <h3><a href="{{ itm.url }}">{{ itm.title }}</a></h3>
  <div class="ctteflex">
    <div class="ctteitem" style="flex: 3 1 70%;">
      <p>{{ itm.desc1 | markdownify }}</p>
      <p>{{ itm.desc2 | markdownify }}</p>
      <p>
        <i>Committee members are:</i> {{ itm.created }}<br/>
        {% if itm.appoints  %}<i>Committee appoints:</i> {{ itm.appoints }}<br/>{% endif %}
        {% if itm.budget  %}<a href="{{ itm.budget }}">Committee Budget Information</a><br/>{% endif %}
      </p>
    </div>
    <div class="ctteitem">
      <nav class="toc">
        <header><h4 class="nav__title">Committee Links</h4></header>
        <ul class="toc__menu">
          <li><a href="{{ itm.url }}">Homepage</a></li>
          <li><a href="{{ itm.agenda }}">Documents</a>
            <ul>
              <li><a href="{{ itm.agenda }}">Agenda</a></li>
              {% if itm.policy  %}<li><a href="{{ itm.policy }}">Policies</a></li>{% endif %}
              {% if itm.bylaw  %}<li><a href="{{ itm.bylaw }}">Town Bylaw</a></li>{% endif %}
            </ul>
          </li>
          <li><a href="{{ itm.calendar }}">Meeting Calendar</a>
            <ul>
              <li><a href="{{ itm.feed }}">Day: {{ itm.day }} at {{ itm.time }}</a></li>
              <li><a href="{{ itm.feed }}">{{ itm.location }}</a></li>
              <li><a href="{{ itm.video }}">Watch On ACMi</a></li>
            </ul>
          </li>
          <li>Number of members: {{ itm.count }}</li>
        </ul>
      </nav>
    </div>
  </div>
</div> 
{% endfor %}
