---
layout: single
classes: wide
---

{{content}}

<dl>
  {% for itm in site.data[page.datafile] %}
    <dt>
      <div class="agendaheader"><h3 class="header-link" id="{{ itm.name | downcase }}"><a href="{{ itm.url }}">{{ itm.name }}</a></h3></div>
      {% if itm.type %}<small>({{ itm.type }} town)</small>{% endif %}
    </dt>
    <dd>
      {% if itm.governance %}<i class='fa fa-fw fa-gavel' aria-hidden='true'></i> Form of governance: {{ itm.governance }}{% endif %}
      <ul>
        {% if itm.annualreport %}<li><i class='fa fa-fw fa-book' aria-hidden='true'></i><a href='{{ itm.annualreport }}'> Town/City Annual Reports</a></li>{% endif %}
        {% if itm.budget %}<li><i class='fa fa-fw fa-funnel-dollar' aria-hidden='true'></i><a href='{{ itm.budget }}'> Annual Budgets Homepage</a> 
          {% if itm.budgetvisual %} | <a href="{{ itm.budgetvisual }}">Budget Visualization</a>{% endif %}
          {% if itm.budgetFY20 %} | <a href="{{ itm.budgetFY20 }}">FY2020 Budget</a>{% endif %}
          {% if itm.budgetFY19 %} | <a href="{{ itm.budgetFY19 }}">FY2019 Budget</a>{% endif %}
        </li>{% endif %}     
        {% if itm.opendata %}<li><i class='fa fa-fw fa-database' aria-hidden='true'></i><a href='{{ itm.opendata }}'> Open Data Portal</a> {% if itm.opendatatech %}({{ itm.opendatatech }}){% endif %}</li>{% endif %}
        {% if itm.records %}<li><i class='fa fa-fw fa-clipboard' aria-hidden='true'></i><a href='{{ itm.records }}'> Records Requests</a></li>{% endif %}
        {% if itm.licensing %}<li><i class='fa fa-fw fa-id-badge' aria-hidden='true'></i><a href='{{ itm.licensing }}'> Licensing & Permits</a></li>{% endif %}
        {% if itm.schools %}<li><i class='fa fa-fw fa-school' aria-hidden='true'></i><a href='{{ itm.schools }}'> Schools</a></li>{% endif %}
        {% if itm.maps %}<li><i class='fa fa-fw fa-map' aria-hidden='true'></i><a href='{{ itm.maps }}'> GIS / Mapping</a></li>{% endif %}
      </ul>
      <strong>Police Links</strong>
      <ul>
        {% if itm.police %}<li><a href='{{ itm.police }}'> Police Website</a></li>{% endif %}
        {% if itm.policesro %}<li><a href='{{ itm.policesro }}'> School Resource Officer</a></li>{% endif %}
        {% if itm.policecommserv %}<li><a href='{{ itm.policecommserv }}'> Community Service Page</a></li>{% endif %}
        {% if itm.policecalllog %}<li><a href='{{ itm.policecalllog }}'> Call Log</a></li>{% endif %}
        {% if itm.policerecords %}<li><a href='{{ itm.policerecords }}'> Records Request</a></li>{% endif %}
        {% if itm.policecomplaints %}<li><a href='{{ itm.policecomplaints }}'> Complaint/Commendation Form</a></li>{% endif %}
        {% if itm.policepolicy %}<li><a href='{{ itm.policepolicy }}'> Policies</a></li>{% endif %}
        {% if itm.policeaccreditation %}<li><a href='https://masspoliceaccred.net/program-members/a/'>MPAC Accreditation</a> since: {{ itm.policeaccreditation }}</li>{% endif %}
      </ul>
    </dd>
  {% endfor %}
</dl>
