---
layout: single
---

{{content}}

<hr/>
<dl>
  {% for itm in site.data[page.datafile] %}
  {% if itm.image %}
  <div style="overflow: auto;">
    <img class="align-right imgright" src="{{ itm.image }}">
  {% endif %}
    <dt>
      <a href="{{ itm.url }}">{{ itm.title }}</a>&nbsp;
      {% if itm.icon %}<i class="fa fa-{{ itm.icon }}" aria-hidden="true"></i>{% endif %}
      {% if itm.related %}<small><a href="{{ itm.related }}"> (see also)</a></small>{% endif %}
    </dt>
    <dd>
      {% if itm.displaydate %} <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> <small>{{ itm.displaydate }}</small>{% endif %}
      {% if itm.video %}<i class="fa fa-fw fa-video" aria-hidden="true"></i><small><a href="{{ itm.video }}"> ACMi Video</a></small>{% endif %}
      {{ itm.content | markdownify }}
    </dd>
  {% if itm.image %}
  </div>
  {% endif %}  
  {% endfor %}
</dl>
