---
layout: single
---

{{content}}

<hr/>
<dl>
  {% for itm in site.data[page.datafile] %}
    <dt>
      <h3 class="header-link" id="{{ itm.id }}">{{ itm.article }} - {{ itm.title }}</h3>
      <small>
        {% if itm.amendments %}<i class="fa fa-highlighter" aria-hidden="true" style="color: gold"></i> {{ itm.amendments }}{% endif %}
        {% if itm.recommend %}<i class="fa fa-check" aria-hidden="true" style="color: green"></i> {{ itm.recommend }}{% endif %}
        {% if itm.noaction %}<i class="fa fa-times" aria-hidden="true" style="color: red"></i> {{ itm.noaction }}{% endif %}
        {% if itm.defer %}<i class="fa fa-sign-in-alt" aria-hidden="true" style="color: orange"></i> {{ itm.defer }}{% endif %}
        {% if itm.consent %}<i class="fa fa-hand-paper" aria-hidden="true" style="color: yellow"></i> {{ itm.consent }}{% endif %}
        {% if itm.video %}<i class="fa fa-video" aria-hidden="true"></i> <a href="{{ itm.video }}">Watch Video Presentation</a>{% endif %}
        {% if itm.official %} <a href="{{ itm.official }}"><i>See Official Article Homepage</i></a>{% endif %}
      </small>
    </dt>
    <dd>
      {{ itm.text | markdownify }}
      {% if itm.insertcomment %}<p class="warrantcomments"><i class="fa fa-highlighter" aria-hidden="true" style="color: gold"></i> <strong>Proposer Comments:</strong> {{ itm.insertcomment }}</p>{% endif %}
      {% if itm.boardcomment %}<p class="warrantcomments"><i class="fa fa-highlighter" aria-hidden="true" style="color: orange"></i> <b>Board or Committee Comments:</b> {{ itm.boardcomment | markdownify }}</p>{% endif %}
      {% if itm.inserturl  %}<p class="warrantcomments"><i class="fa fa-fw fa-glasses" aria-hidden="true"></i> <a href="{{ itm.inserturl }}">{{ itm.insertby }}</a></small>{% elsif itm.insertby != "" %}<p><i class="fa fa-fw fa-glasses" aria-hidden="true"></i> {{ itm.insertby }}</p>{% endif %}
      {% if itm.related %}<p class="warrantcomments"><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i> See also: {% for rels in itm.related %}{% if rels != itm.id %}<a href="#{{ rels }}">{{ rels }}</a> {% endif %}{% endfor %}</p>{% endif %}
      {% if itm.supplements %}
        <p class="warrantsupplements">
          <span><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> Supplemental documents: </span>
          <ul class="warrantsupplements">
          {% for supplement in itm.supplements %}
            {% assign nocomma = forloop.last %}
            <li>
              {% for hash in supplement %}
              {% if hash[0] == 'comment' %}<i>{{ hash[1] }}</i>{% else %}<a href="{{ hash[0] }}">{{ hash[1] }}</a>{% if nocomma == false %}; {% endif %}{% endif %}
              {% endfor %}
            </li>
          {% endfor %}
          </ul>
        </p>
      {% endif %}
    </dd>
  {% endfor %}
</dl>
