---
layout: single
classes: wide
---

{{content}}

<hr/>
<div id="2020"></div>
{% for entry in site.data[page.datafile] %}
{% assign itm = entry[1] %}
{% assign isodate = entry[0] %}
<div class="agenda" id="{{ isodate }}">
  {% if itm.altid %}<div id="{{ itm.altid }}"></div>{% endif %}
  <div class="agendaheader"><h3>{{ itm.title }} meeting {{ itm.date }}</a></h3></div>
  <div class="agendalinks">
    <small>
      Location: {{ itm.location }}<br/>
      {% if itm.video %}<i class="fa fa-fw fa-video" aria-hidden="true"></i> <a href="{{ itm.video }}">Watch on ACMi</a>{% endif %}
      <i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> Official downloads: 
      <a href="https://arlington.novusagenda.com/Agendapublic/{{ itm.viewurl }}"><i class="fa fa-fw fa-file-alt" aria-hidden="true"></i> Online Agenda</a>
      | <a href="https://arlington.novusagenda.com/Agendapublic/{{ itm.pdfurl }}"><i class="fa fa-fw fa-file-pdf" aria-hidden="true"></i> Agenda PDF</a>
      {% if itm.minurl %}| <a href="https://arlington.novusagenda.com/Agendapublic/{{ itm.minurl }}"><i class="fa fa-fw fa-file-pdf" aria-hidden="true"></i> Legal Minutes</a>{% endif %}
    </small>
  </div>
  <div class="agendadetail">
    <ol>
      {% for lineitm in itm.agenda.items %}
      <li value="{{ lineitm.num }}" id="{{ isodate }}_{{ lineitm.num }}">
        <h4 class="agendadetailheader">{{ lineitm.title }}</h4>
        <div class="itemattachments">
          {% if lineitm.dockets %} Dockets heard: 
            {% for docket in lineitm.dockets %}
              <b><a href="/meetings/arb-index/#{{ docket[0] }}">#{{ docket[0] }}</a></b>, <a href="https://www.google.com/maps/place/{{ docket[1] }},+Arlington,+MA">{{ docket[1] }}</a> |
            {% endfor %}
          {% endif %}
          {% if lineitm.url %}<a href="https://arlington.novusagenda.com/Agendapublic/{{ lineitm.url }}"><i class="fa fa-fw fa-file-alt" aria-hidden="true"></i> All Attachment List</a></em>{% endif %} 
          {% if lineitm.attachments %}
            <br/>
            <div class="itemattachments"> 
            {% for attach in lineitm.attachments %}
              {% assign nocomma = forloop.last %}
              <a href="https://arlington.novusagenda.com/Agendapublic/{{ attach[0] }}"><i class="fa fa-fw fa-file" aria-hidden="true"></i> {{ attach[1][0] }}</a>{% if nocomma == false %} |{% endif %}
            {% endfor %} 
            </div>
          {% endif %}
          </div>
        <div class="itemdetail">{{ lineitm.details | markdownify }}</div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div> 
{% endfor %}

